.layout {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #1e293b;
  color: #fff;
  padding: 25px;
}

.sidebar li {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sidebar li:hover {
  background: #334155;
}

/* MAIN */
.main {
  flex: 1;
  background: #f1f5f9;
  padding: 25px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 18px;
  border-radius: 12px;
}

/* BUTTON */
button {
  background: #2563eb;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 25px 0;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* FORM */
.form-box {
  background: white;
  padding: 20px;
  border-radius: 14px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* TABLE */
.table-box {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 14px;
}

table {
  width: 100%;
}

th {
  background: #f1f5f9;
}

td, th {
  padding: 10px;
}

/* STATUS */
.approved { color: green; }
.rejected { color: red; }
.pending { color: orange; }