<div class="login-container">

  <div class="login-box">

    <h2>
      {{ loginType === 'admin' ? 'Admin Login' : 'Employee Login' }}
    </h2>

    <input
      type="text"
      [(ngModel)]="username"
      placeholder="Enter Username"
    />

    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Enter Password"
    />

    <button class="login-btn" (click)="login()">
      Login
    </button>

    <div class="switch">

      <p>Switch Login</p>

      <button (click)="goAdmin()">
        Admin
      </button>

      <button (click)="goEmployee()">
        Employee
      </button>

    </div>

  </div>

</div>